<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon2.png" type="">

    <title> ClinicCare </title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <link href="css/style.css" rel="stylesheet" />

    <link href="css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

<div class="hero_area">


    <div th:include="fragments :: header"></div>
</div>


<div class="main-content">
<section class="about_section layout_margin-bottom">
    <div class="container mt-5 ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="images/about-img.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Despre noi
                        </h2>
                    </div>
                    <p>
                        Bine ați venit la clinica noastră, un loc unde prioritizăm sănătatea și bunăstarea dumneavoastră mai presus de orice. Echipa noastră de profesioniști din domeniul sănătății este gata să vă ofere îngrijire de cea mai înaltă calitate într-un mediu prietenos și de susținere. De la controale de rutină la tratamente specializate, oferim o gamă completă de servicii pentru a răspunde nevoilor dumneavoastră. Clinica noastră este echipată cu cea mai modernă tehnologie medicală pentru a ne asigura că fiecare tratament este administrat cu precizie și grijă.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="container container-listt">
        <ol>
            <li><i class="fa fa-check-circle-o"></i>Cadre medicale cu experiență, gamă extinsă de investigații.</li>
            <li><i class="fa fa-check-circle-o"></i>Servicii medicale integrate: clinică și laborator.</li>
            <li><i class="fa fa-check-circle-o"></i>Analize medicale la standarde înalte. Corectitudine, precizie, performanță.</li>
            <li><i class="fa fa-check-circle-o"></i>Informații despre consultații disponibile online.</li>
            <li><i class="fa fa-check-circle-o"></i>Echipamente moderne și perofmante, tratamente eficiente și personalizate.</li>
            <li><i class="fa fa-check-circle-o"></i>Experiență în domeniul serviciilor medicale, în extindere de la an la an.</li>
            <li><i class="fa fa-check-circle-o"></i>Un mediu excepțional ce asigură confidențialitate, discreție și confort.</li>
        </ol>
    </div>


    <div class="container">
        <p>
            <strong>CLINICARE</strong> întelege că fiecare pacient este unic și merită o atenție personalizată.  Misiunea noastră este să promovăm un stil de viață sănătos și să prevenim afecțiunile prin educație și consultații preventive. Echipa noastră colaborează strâns pentru a oferi soluții complete, astfel încât să beneficiați de cea mai bună îngrijire posibilă.
        </p>
        <p>
            Ne mândrim cu faptul că suntem mereu la curent cu cele mai recente inovații și practici medicale. Personalul nostru participă regulat la cursuri de formare și conferințe pentru a asigura că suntem la vârful excelenței medicale. În plus, am creat un spațiu primitor și confortabil pentru pacienții noștri, unde fiecare vizită se desfășoară într-o atmosferă relaxantă și lipsită de stres.
        </p>
    </div>



</section>
</div>



<div th:include="fragments :: footer"></div>

<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>

</body>

</html>