<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="shortcut icon" href="images/favicon2.png" type="">

    <title> ClinicCare </title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

<div class="hero_area">


    <div th:include="fragments :: header"></div>
</div>

<div class="main-content">
<section class="doctor_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Echipa Doctorilor
            </h2>
            <p class="col-md-10 mx-auto px-0">
                Descoperiți o parte din echipa noastră de doctori, fiecare având experiența și cunoștințele necesare pentru a vă asigura că primiți cea mai bună îngrijire posibilă.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d1.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Ana Popescu
                        </h5>
                        <h6 class="">
                            Cardiolog
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d2.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Felix Barbu
                        </h5>
                        <h6 class="">
                            Hepatolog
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d3.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Ioana Georgescu
                        </h5>
                        <h6 class="">
                            Medic de familie
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d4.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Maria Vlad
                        </h5>
                        <h6 class="">
                            Hepatolog
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d5.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Elena Dumitrescu
                        </h5>
                        <h6 class="">
                            Psihiatru
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d6.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Mihai Ionescu
                        </h5>
                        <h6 class="">
                            Psihiatru
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d7.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Victor Stanciu
                        </h5>
                        <h6 class="">
                            Neurolog
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d8.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Alina Vranceanu
                        </h5>
                        <h6 class="">
                            Neurolog
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="box">
                    <div class="img-box">
                        <img src="images/d9.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Laura Neagu
                        </h5>
                        <h6 class="">
                            Cardiolog
                        </h6>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
</div>


<div th:include="fragments :: footer"></div>

<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="/js/bootstrap.js"></script>

</body>

</html>