<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anulare Programare</title>
</head>
<body>
<p>Draga <span th:text="${firstName}"></span>,</p>
<p>Programarea dumneavoastra a fost anulata.</p>
<p><b>Specialitate:</b> <span th:text="${specialty}"></span></p>
<p><b>Doctor:</b> <span th:text="${doctorFirstName}"></span> <span th:text="${doctorLastName}"></span></p>
<p><b>Data si ora:</b> <span th:text="${time}"></span></p>
<p>Ne pare rau pentru disconfortul creat.</p>
</body>
</html>
